@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Handjet:wght@500&family=Lato&family=Montserrat&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    background-color: rgb(20, 20, 20);
    width: 100vw;
    height: 130vh;
  }
  h1{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 134px;
    left: 492px;
    font-size: 44px;
  }
  .screens{
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
.p1{
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40vh 30px;
}
.p2{
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: 40vh 30px;
}
.p3{
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40vh 30px;
}
.p4{
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40vh 30px;
}
.p5{
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40vh 30px;
}
p{
    color: rgba(255, 255, 255, 0.575);
    display: flex;
    margin: 25vh -85px;

}
.btn-1{
  position: absolute;
  /* margin: 190px 125px; */
  border-radius: 1px;
  /* color: rgba(255, 255, 255, 0.523);
  background-color: rgba(0, 0, 0, 0.091); */
  height: 33px;
  width: 96px;

}